<div class="container" fxLayout="column" fxLayoutAlign="start center">
  <div
    class="links"
    fxLayout="rom wrap"
    fxLayoutGap=".5rem"
    fxLayoutAlign="center center"
  >
    <a
      mat-button
      href="//github.com/andregao"
      target="_blank"
    >
      <mat-icon svgIcon="github"></mat-icon>
      <span>Github</span>
    </a>
    <a
      mat-button
      href="./assets/resume-andregao-2019.pdf"
      target="_blank"
    >
      <mat-icon>description</mat-icon>
      <span>Resume</span>
    </a>
  </div>
  <a mat-button href="mailto:andregao@me.com">andregao@me.com</a>
</div>
