.card {
  .logo-group {
    margin: -1rem -1rem 0 -1rem;
    border-radius: .3rem;
    overflow: hidden;

    .logo {
      width: 100%;
    }
  }

  .date-location {
    text-align: right;
  }

  .card-content {
    margin-top: 1rem;
  }
}

